<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>placki</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts/fonts.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css" />
    <link rel="stylesheet" href="/assets/css/File-Manager.css" />
    <link rel="stylesheet" href="/assets/css/aos/aos.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/groups.css" />
</head>

<body>
{% include "snippets/navbar.twig" %}
{% include "snippets/toast.twig" %}
<h1 data-aos="fade" data-aos-duration="1000" data-aos-once="true" class="page-heading" style="margin: 10px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-circles">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx="12" cy="7" r="4"></circle>
        <circle cx="6.5" cy="17" r="4"></circle>
        <circle cx="17.5" cy="17" r="4"></circle>
    </svg>
    grupy
</h1>
<div class="content">
    <div class="d-flex justify-content-center" style="width: 100%; margin-bottom: 3px;">
        <div class="tabs">
                    <span class="tab tab-active" data-tabid="all">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-globe"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="10" r="4"></circle>
                            <path d="M6.75 16a8.015 8.015 0 1 0 9.25 -13"></path>
                            <line x1="12" y1="18" x2="12" y2="22"></line>
                            <line x1="8" y1="22" x2="16" y2="22"></line>
                        </svg>
                        wszystkie
                    </span>
            <span class="tab" data-tabid="mine">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-user"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>
                        moje grupy
                    </span>
            <span class="tab" data-tabid="joined">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-login"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                            <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                        </svg>
                        dołączone
                    </span>
        </div>
    </div>
    <div style="position: relative; height: calc(100% - 40px);">
        <div class="fade-top"></div>
        <div class="fade-bottom"></div>
        <div class="group-grid">
            <div id="create-group-btn" class="group d-flex justify-content-center align-items-center flex-column" data-mine="1" data-joined="0">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="80" height="80" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
                utwórz grupę
            </div>
            {% for group in groups %}
                <div
                        class="group"
                        data-mine="{{ group.id in my_groups ? '1' : '0' }}"
                        data-joined="{{ group.id in joined_groups ? '1' : '0' }}"
                >
                    <div class="d-flex flex-row align-items-center group-header">
                        <img src="/group_pics/{{ group.picFilename }}" />
                        <label class="form-label">{{ group.name }}</label>
                    </div>
                    <p class="group-description">
                        {{ group.description ? group.description|breakify : '' }}
                    </p>
                    <div class="d-flex flex-row align-items-center group-footer">
                        <label class="form-label flex-grow-1">{{ group.members|length }} członków</label>
                        <a class="btn btn-primary btn-sm" role="button" href="/grupy/panel?id={{ group.id }}">wejdź i się przekonaj</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="create-group-modal">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">utwórz grupę</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="new-group-name-input" class="form-control" type="text" placeholder="nazwa grupy" />
                <label id="group-creation-error" style="color: red; display: none;"></label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">anuluj</button>
                <button id="confirm-group-creation-btn" class="btn btn-primary" type="button" style="background-color: var(--primary);">utwórz grupę</button>
            </div>
        </div>
    </div>
</div>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="/assets/js/aos/aos.js"></script>
<script src="/assets/js/lottie/lottie-player.js"></script>
<script src="/assets/js/moment/moment.min.js"></script>
<script src="/assets/js/moment/locale-pl.min.js"></script>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/tabs.js"></script>
<script src="/assets/js/toast.js"></script>
<script src="/assets/js/common/chat.js"></script>
<script src="/assets/js/grupy.js"></script>
</body>
</html>
