<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>placki | {{ group.name }}</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts/fonts.css" />
    <link rel="stylesheet" href="/assets/css/croppie/croppie.min.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css" />
    <link rel="stylesheet" href="/assets/css/File-Manager.css" />
    <link rel="stylesheet" href="/assets/css/aos/aos.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/groups.css" />
</head>

<body>
{% include "snippets/navbar.twig" %}
{% include "snippets/toast.twig" %}
<script>
    const GROUP_ID = parseInt("{{ group.id }}");
    let GROUP_ACCESS_LEVEL = parseInt("{{ group.accessLevel }}");
    let joinRequestsCount = parseInt("{{ group.joinRequests|length }}");
</script>
{% set group_picture = "/group_pics/" ~ group.picFilename %}
<h1 data-aos="fade" data-aos-duration="1000" data-aos-once="true" class="page-heading" style="margin: 10px;">
    <img id="heading-pic" style="height: 45px; width: 45px; border-radius: 45px;" src="{{ group_picture }}" />
    <span id="heading-name" style="font: inherit !important;">{{ group.name }}</span>
    <button class="btn btn-outline-danger btn-sm float-end" type="button" data-bs-target="#leave-group-modal" data-bs-toggle="modal">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icon-tabler-logout"
                style="position: relative; top: -1px;"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
            <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
        </svg>
        wyjdź z grupy
    </button>
</h1>
<div class="d-flex flex-row content">
    <div class="side-menu">
        <div class="menu-option menu-option-active" data-optionid="wall">
                    <span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-layout-list"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <rect x="4" y="4" width="16" height="6" rx="2"></rect>
                            <rect x="4" y="14" width="16" height="6" rx="2"></rect>
                        </svg>
                        tablica
                    </span>
        </div>
        <div class="menu-option" data-optionid="members">
                    <span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-users"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                        </svg>
                        członkowie
                    </span>
        </div>
        <div class="menu-option" data-optionid="safe">
                    <span>
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icon-tabler-diamond"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M6 5h12l3 5l-8.5 9.5a.7 .7 0 0 1 -1 0l-8.5 -9.5l3 -5"></path>
                            <path d="M10 12l-2 -2.2l.6 -1"></path>
                        </svg>
                        sejf
                    </span>
        </div>
        {% if group.owner == self %}
            <label class="menu-subcategory">administracja</label>
            <div class="menu-option" data-optionid="manage">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-settings">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                    zarządzanie grupą
                </span>
            </div>
            <div class="menu-option" data-optionid="bans">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="9"></circle>
                        <line x1="5.7" y1="5.7" x2="18.3" y2="18.3"></line>
                    </svg>
                    bany
                </span>
            </div>
            <div class="menu-option" data-optionid="join-requests">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <circle cx="9" cy="7" r="4"></circle>
                       <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                       <path d="M16 11h6m-3 -3v6"></path>
                    </svg>
                    prośby o dołączenie
                    {% set join_requests_count = group.joinRequests|length %}
                    <span
                            id="join-requests-count-badge"
                            class="badge"
                            data-count="{{ join_requests_count }}"
                    >
                        {{ join_requests_count }}
                    </span>
                </span>
            </div>
        {% endif %}
    </div>
    <div class="flex-grow-1 group-panel-tab-content" id="wall-tab" style="padding: 0 5px; display: none; flex-direction: column;">
        <div class="text-center" style="width: 100%; flex: 0 0 auto;">
            <textarea
                    id="post-content-editor"
                    class="form-control"
                    rows="4"
                    placeholder="napisz jakies cos smiesznego kazdy na grupie to zobaczy dumny jestes? z siebie? no pochwal! sie"
                    style="width: 100%; resize: none; margin-top: 5px;"
            ></textarea>
            <div class="text-start" style="width: 100%; margin-top: 5px; margin-bottom: 5px;">
                <button onclick="PostEditor.pickPostAttachments();" class="btn btn-light btn-sm" type="button" data-toggle="tooltip" data-placement="right" title="dodaj załączniki">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icon-tabler-photo"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="15" y1="8" x2="15.01" y2="8"></line>
                        <rect x="4" y="4" width="16" height="16" rx="3"></rect>
                        <path d="M4 15l4 -4a3 5 0 0 1 3 0l5 5"></path>
                        <path d="M14 14l1 -1a3 5 0 0 1 3 0l2 2"></path>
                    </svg>
                </button>
                <span data-animatedshow="0" id="post-attachment-upload-error-message"></span>
                <input id="post-attachment-input" class="d-none" type="file" multiple />
                <div id="post-attachment-list" data-show="0"></div>
                <button
                        class="btn btn-primary btn-sm float-end"
                        type="button"
                        onclick="post();"
                >zapostuj</button>
            </div>
        </div>
        <iframe src="about:blank" id="group-posts-iframe"></iframe>
    </div>
    <div class="flex-grow-1 group-panel-tab-content" id="members-tab" style="padding: 0 5px; display: none; flex-direction: column; overflow-y: auto; overflow-x: hidden;">
        {% for member in all_users %}
            {% set member_is_owner = member == group.owner %}
            <div class="user-list-item" data-owner="{{ member_is_owner ? '1' : '0' }}" data-username="{{ member.username }}" data-hidden="{{ member in group.members ? '0' : '1' }}">
                <img height="30" width="30" src="{{ member.profilePic }}" />
                <label class="form-label">
                    {{ member.username }}
                    {% if member_is_owner %}
                        <div class="group-member-role" style="background-color: #F9A825;">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-crown" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z" />
                            </svg>
                            administrator
                        </div>
                    {% endif %}
                </label>
                {% if self != member %}
                    {% if self == group.owner and not member_is_owner %}
                        <svg data-btnname="give_admin" data-toggle="tooltip" data-placement="top" title="przyznaj uprawnienia administratora" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-crown user-list-item-menu-btn" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#F9A825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"></path>
                        </svg>
                        <svg data-btnname="view_profile" data-toggle="tooltip" data-placement="top" title="zobacz profil" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user user-list-item-menu-btn" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="var(--primary)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>
                        <svg data-btnname="ban" data-toggle="tooltip" data-placement="top" title="zbanuj" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban user-list-item-menu-btn" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#F44336" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <line x1="5.7" y1="5.7" x2="18.3" y2="18.3"></line>
                        </svg>
                        <svg data-btnname="kick" data-toggle="tooltip" data-placement="top" title="wyrzuć" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-door-exit user-list-item-menu-btn" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M13 12v.01"></path>
                            <path d="M3 21h18"></path>
                            <path d="M5 21v-16a2 2 0 0 1 2 -2h7.5m2.5 10.5v7.5"></path>
                            <path d="M14 7h7m-3 -3l3 3l-3 3"></path>
                        </svg>
                    {% else %}
                        <svg data-btnname="view_profile" data-toggle="tooltip" data-placement="top" title="zobacz profil" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user user-list-item-menu-btn" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="var(--primary)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="flex-grow-1 group-panel-tab-content" id="safe-tab" style="display: none; flex-direction: column;">
        <div class="alert alert-success" role="alert" id="logged-into-safe-alert" style="margin: 0 10px; display: none;">
            <button class="btn btn-link btn-sm" type="button" style="position: absolute; top: 0; right: 0;">zamknij</button>
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icon-tabler-shield-lock"
                    style="font-size: 28px; position: relative; top: -3px;"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3"></path>
                <circle cx="12" cy="11" r="1"></circle>
                <line x1="12" y1="12" x2="12" y2="14.5"></line>
            </svg>
            <span style="margin-left: 10px;">
                <strong>zalogowałeś się do sejfu.</strong><br />
                następnym razem dostęp zostanie przydzielony automatycznie.
            </span>
        </div>
        <iframe src="about:blank" id="group-safe-iframe" data-safeid="{{ group.safe_id }}" style="height: 100%;"></iframe>
    </div>
    {% if group.owner == self %}
        <div class="flex-grow-1 group-panel-tab-content" id="manage-tab" style="display: none; flex-direction: column;">
            <div style="max-height: 100%;">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#general-settings-tab">ogólne</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#safe-settings-tab">sejf</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#delete-group-tab">usuwanie grupy</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="general-settings-tab">
                        <div class="d-flex" style="height: 120px;">
                            <div class="flex-grow-0 d-flex flex-column justify-content-center" style="flex-basis: 120px;">
                                <div id="pic-preview" style="width: 120px; height: 120px;" data-src="{{ group_picture }}"></div>
                            </div>
                            <div class="flex-grow-1 d-flex flex-column justify-content-center" style="padding: 0 5px;">
                                <label for="group-name-edit">nazwa grupy</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <circle cx="8.5" cy="8.5" r="1" fill="currentColor"></circle>
                                                <path d="M4 7v3.859c0 .537 .213 1.052 .593 1.432l8.116 8.116a2.025 2.025 0 0 0 2.864 0l4.834 -4.834a2.025 2.025 0 0 0 0 -2.864l-8.117 -8.116a2.025 2.025 0 0 0 -1.431 -.593h-3.859a3 3 0 0 0 -3 3z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <input class="form-control" id="group-name-edit" type="text" value="{{ group.name }}" />
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <textarea id="group-description-edit" class="form-control" placeholder="krótko opisz o co chodzi w tej grupie (chyba że nie chcesz, to nie musisz)">{{ group.description }}</textarea>
                            </div>
                        </div>
                        <div style="width: 100%; margin: 5px 0 20px 0;">
                            <button id="change-pic-btn" class="btn btn-sm btn-outline-primary" style="width: 120px;">zmień zdjęcie</button>
                            <div id="scroll-zoom-tip" data-animatedshow="1" class="d-inline position-relative">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M20 6H23L19 2L15 6H18V18H15L19 22L23 18H20V6M9 3.09C11.83 3.57 14 6.04 14 9H9V3.09M14 11V15C14 18.3 11.3 21 8 21S2 18.3 2 15V11H14M7 9H2C2 6.04 4.17 3.57 7 3.09V9Z" />
                                </svg>
                                <span style="font-family: 'Josefin Sans', sans-serif !important; font-weight: 900;">scroll aby przybliżyć/oddalić</span>
                            </div>
                            <input id="group-pic-chooser" type="file" style="display: none;" accept="image/jpeg, image/png, image/gif" />
                            <button id="save-group-look-settings-btn" class="btn btn-sm btn-primary float-end">zapisz wygląd</button>
                        </div>
                        <h5>polityka przyjmowania członków</h5>
                        <div class="big-chooser" data-chooserid="join-policy">
                            <div data-color="#4CAF50" data-optionid="public" data-chooser="join-policy">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-world" width="2em" height="2em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="12" cy="12" r="9"></circle>
                                    <line x1="3.6" y1="9" x2="20.4" y2="9"></line>
                                    <line x1="3.6" y1="15" x2="20.4" y2="15"></line>
                                    <path d="M11.5 3a17 17 0 0 0 0 18"></path>
                                    <path d="M12.5 3a17 17 0 0 1 0 18"></path>
                                </svg>
                                <label>wszyscy mogą dołączyć</label>
                                <p>
                                    każdy kto zobaczy tę grupę, może do niej od razu dołączyć bez zatwierdzenia lub zaproszenia.
                                    <b>jeżeli istnieją aktywne prośby o dołączenie, zostaną one automatycznie zatwierdzone.</b>
                                </p>
                            </div>
                            <div data-color="#FFB300" data-optionid="needs-permission" data-chooser="join-policy">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-exclamation" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                    <line x1="19" y1="7" x2="19" y2="10"></line>
                                    <line x1="19" y1="14" x2="19" y2="14.01"></line>
                                </svg>
                                <label>wymaga zatwierdzenia</label>
                                <p>każdy kto zobaczy tę grupę, może poprosić jej administratora o zatwierdzenie przyjęcia</p>
                            </div>
                            <div data-color="#F44336" data-optionid="invite-only" data-chooser="join-policy">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                                    <polyline points="3 7 12 13 21 7"></polyline>
                                </svg>
                                <label>tylko zaproszenie</label>
                                <p>
                                    do grupy będzie można dołączyć jedynie za pomocą specjalnego zaproszenia od jej administratora.
                                    <b>jeżeli istnieją aktywne prośby o dołączenie, zostaną one automatycznie odrzucone.</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="safe-settings-tab">
                        <p>Content for Sejf.</p>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="delete-group-tab">
                        <h1>czy chcesz usunąć tę grupę?</h1>
                        <div>
                            <p style="margin: 0;">usunięcie grupy spowoduje:</p>
                            <ul style="margin: 0;">
                                <li>usunięcie postów</li>
                                <li>usunięcie komentarzy</li>
                                <li>usnięcie plików z sejfu</li>
                            </ul>
                        </div>
                        <h4>ta akcja jest nieodwracalna!</h4>
                        <button id="delete-group-btn" class="btn btn-lg btn-outline-danger">jestem pewien</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow-1 group-panel-tab-content" id="bans-tab" style="padding: 0 5px; display: none; flex-direction: column; overflow-y: auto; overflow-x: hidden;">
            {% for member in all_users %}
                <div class="user-list-item" data-username="{{ member.username }}" data-hidden="{{ member in group.bans ? '0' : '1' }}">
                    <img height="30" width="30" src="{{ member.profilePic }}" />
                    <label class="form-label">{{ member.username }}</label>
                    <svg data-btnname="view_profile" data-toggle="tooltip" data-placement="top" title="zobacz profil" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user user-list-item-menu-btn" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="var(--primary)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                    </svg>
                    <svg data-btnname="unban" data-toggle="tooltip" data-placement="top" title="odbanuj" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bandage user-list-item-menu-btn" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#4CAF50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="14" y1="12" x2="14" y2="12.01"></line>
                        <line x1="10" y1="12" x2="10" y2="12.01"></line>
                        <line x1="12" y1="10" x2="12" y2="10.01"></line>
                        <line x1="12" y1="14" x2="12" y2="14.01"></line>
                        <path d="M4.5 12.5l8 -8a4.94 4.94 0 0 1 7 7l-8 8a4.94 4.94 0 0 1 -7 -7"></path>
                    </svg>
                </div>
            {% endfor %}
        </div>
        <div class="flex-grow-1 group-panel-tab-content" id="join-requests-tab" style="padding: 0 5px; display: none; flex-direction: column; overflow-y: auto; overflow-x: hidden;">
            {% for user in all_users %}
                <div class="user-list-item" data-username="{{ user.username }}" data-hidden="{{ user in group.joinRequests ? '0' : '1' }}">
                    <img height="30" width="30" src="{{ user.profilePic }}" />
                    <label class="form-label">{{ user.username }}</label>
                    <svg data-btnname="view_profile" data-toggle="tooltip" data-placement="top" title="zobacz profil" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user user-list-item-menu-btn" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="var(--primary)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                    </svg>
                    <svg data-btnname="reject_join_request" data-toggle="tooltip" data-placement="top" title="odrzuć" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban user-list-item-menu-btn" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#F44336" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="9"></circle>
                        <line x1="5.7" y1="5.7" x2="18.3" y2="18.3"></line>
                    </svg>
                    <svg data-btnname="approve_join_request" data-toggle="tooltip" data-placement="top" title="zatwierdź" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus user-list-item-menu-btn" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#4CAF50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        <path d="M16 11h6m-3 -3v6"></path>
                    </svg>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="comments-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">komentarze</h4>
                <span id="comments-modal-subtitle">ładowanie komentarzy...</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="about:blank" id="post-comments-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="leave-group-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">wyjdź z grupy</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>czy na pewno chcesz wyjść z tej grupy?</p>
                <p style="color: rgb(128, 134, 140);">jeżeli jesteś ostatnim członkiem tej grupy, zostanie ona automatycznie usunięta od razu po jej opuszczeniu.</p>
                {% if group.owner == self %}
                    <p style="color: #F44336;">nie możesz wyjść z grupy będąc jej administratorem</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">anuluj</button>
                {% if group.owner == self %}
                    <button class="btn btn-primary" type="button" onclick="$('.menu-option[data-optionid=\'members\']').click();" data-bs-dismiss="modal">zmień administratora</button>
                    <a class="btn btn-danger disabled" tabindex="-1" type="button" aria-disabled="true">wyjdź z grupy</a>
                {% else %}
                    <a class="btn btn-danger" type="button" href="/grupy/wyjdz?id={{ group.id }}">wyjdź z grupy</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="/assets/js/aos/aos.js"></script>
<script src="/assets/js/lottie/lottie-player.js"></script>
<script src="/assets/js/moment/moment.min.js"></script>
<script src="/assets/js/moment/locale-pl.min.js"></script>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/croppie/croppie.min.js"></script>
<script src="/assets/js/common/big_chooser.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/side_menu.js"></script>
<script src="/assets/js/toast.js"></script>
<script src="/assets/js/common/post_editor.js"></script>
<script src="/assets/js/common/chat.js"></script>
<script src="/assets/js/panel_grupy.js"></script>
</body>
</html>
