<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>placki</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts/fonts.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css" />
    <link rel="stylesheet" href="/assets/css/File-Manager.css" />
    <link rel="stylesheet" href="/assets/css/aos/aos.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/posts_and_comments.css" />
    <link rel="stylesheet" href="/assets/css/audio_player/bundle.css" />
</head>

<body style="height: auto; max-height: 100%; overflow-y: auto;">
{% set last_post = null %}
{% for post in posts %}
    <div class="text-start post" data-postid="{{ post.id }}">
        <div class="d-flex align-items-center">
            <img height="30" width="30" src="{{ post.author.profilePic }}" />
            <div class="flex-grow-1">
                <a
                        onclick="parent.location.assign(this.getAttribute('data-href'))"
                        data-href="/profil?uzytkownik={{ post.author.username }}"
                        href="#"
                >{{ post.author.username }}</a>
                {% if not hide_group_labels and post.group %}
                    <span style="color: gray;">
                        w grupie
                        <img
                                src="/cdn/group_pics/{{ post.group.picFilename }}"
                                width="30"
                                height="30"
                                style="border-radius: 30px;"
                        />
                        <b>{{ post.group.name }}</b>
                    </span>
                {% endif %}
            </div>
            {% if post.author == self %}
                <div class="btn-group btn-group-sm" role="group" data-postid="{{ post.id }}">
                    <button class="btn btn-danger delete-post-button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="4" y1="7" x2="20" y2="7"></line>
                            <line x1="10" y1="11" x2="10" y2="17"></line>
                            <line x1="14" y1="11" x2="14" y2="17"></line>
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                        </svg>
                        usuń
                    </button>
                </div>
            {% endif %}
        </div>
        <p style="{{ post.content|length < 45 ? 'font-size: 35px;' : '' }}">{{ post.content|breakify }}</p>
        {% for attachment in post.attachments %}
            {% set src = attachment|att_src %}

            {% if attachment.extension in ["jpeg", "jpg", "png", "bmp", "gif", "webp"] %}
                <img src="{{ src }}" />
            {% elseif attachment.extension in ["mp4", "webm", "ogg"] %}
                <video src="{{ src }}" controls loop></video>
            {% elseif attachment.extension in ["mp3"] %}
                {% include "snippets/audio_player.twig" with {"audio_source": src, "title": attachment.originalFilename} only %}
            {% else %}
                <a href="{{ src }}" download="{{ attachment.originalFilename }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5"></path>
                    </svg>
                    {{ attachment.originalFilename }}
                </a>
            {% endif %}
        {% endfor %}
        <div class="d-flex flex-row">
            <div class="flex-grow-1">
                <span style="color: gray;">{{ post.at|format_date_human() }}</span>
            </div>
            <div class="d-flex justify-content-xl-end align-items-xl-center like-btns" data-liked="{{ self in post.likedBy }}" style="height: 100%;">
                <i class="far fa-heart" style="font-size: 25px; color: var(--bs-gray-900);"></i><i class="fas fa-heart" style="font-size: 25px; color: var(--primary); text-shadow: 0 0 8px;"></i>
            </div>
            <label class="form-label post-like-count">{{ post.likedBy|length }}</label>
            <i class="far fa-comment-alt open-comments" style="font-size: 25px; color: var(--bs-gray-900); margin-left: 5px; margin-right: 5px;"></i>
            <label class="form-label open-comments">{{ post.comments|length }}</label>
        </div>
    </div>
    {% set last_post = post %}
{% endfor %}
{% if posts|length > 0 %}
    <div style="width: 100%; text-align: center; margin-top: 5px;">
        <button id="load-more-posts-btn" class="btn btn-lg btn-outline-primary" style="width: 50%" data-lastpostid="{{ last_post.id }}">
            załaduj więcej postów
        </button>
    </div>
{% endif %}
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="/assets/js/aos/aos.js"></script>
<script src="/assets/js/lottie/lottie-player.js"></script>
<script src="/assets/js/moment/moment.min.js"></script>
<script src="/assets/js/moment/locale-pl.min.js"></script>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/toast.js"></script>
<script src="/assets/js/posty.js"></script>
{% include "snippets/audio_player_js.twig" %}
</body>
</html>
